/ {
    macros {
        alt_tab_press: alt_tab_press {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LALT>, <&macro_tap &kp TAB>;
        };
        alt_shift_tab_press: alt_shift_tab_press {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LALT>, <&macro_tap &kp LS(TAB)>;
        };
    };

    zip_mouse_gesture_l3: zip_mouse_gesture_l3 {
        compatible = "zmk,input-processor-mouse-gesture";
        #input-processor-cells = <0>;
        enable-eager-mode;
stroke-size = <180>;          // 100(敏感)と280(鈍重)の間をとって180
        movement-threshold = <25>;    // 10(敏感)と40(鈍重)の間をとって25
        idle-timeout-ms = <100>;      // 止め際をスッキリさせるため100に戻す
        gesture-cooldown-ms = <150>;  // 暴発を防ぐため、一度発動した後の受付停止時間を少し確保

        vdesk_prev       { pattern = <GESTURE_LEFT>;  bindings = <&alt_shift_tab_press>; };
        vdesk_next       { pattern = <GESTURE_RIGHT>; bindings = <&alt_tab_press>; };
        task_view        { pattern = <GESTURE_UP>;    bindings = <&kp F5>; };
    };
};
