/ {
    zip_mouse_gesture_l3: zip_mouse_gesture_l3 {
        compatible = "zmk,input-processor-mouse-gesture";
        #input-processor-cells = <0>;
        enable-eager-mode;
        stroke-size = <400>;
        movement-threshold = <50>;
        idle-timeout-ms = <100>;
        gesture-cooldown-ms = <120>;

        vdesk_prev       { pattern = <GESTURE_LEFT>;  bindings = <&kp LA(LS(TAB))>; };
        vdesk_next       { pattern = <GESTURE_RIGHT>; bindings = <&kp LA(TAB)>; };
        task_view        { pattern = <GESTURE_UP>;    bindings = <&kp F5>; };
    };
};
